<h1> <%= @catt.name %> </h1>

<table>
    <tbody>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Age</td> 
            <td><%= @catt.age %></td>
        </tr>
        <tr>
            <td>Birth_Date</td> 
            <td><%= @catt.birth_date %></td>
        </tr>
        <tr>
            <td>Color</td> 
            <td><%= @catt.color %></td>
        </tr>
        <tr>
            <td>Sex</td> 
            <td><%= @catt.sex %></td>
        </tr>
    </tbody>
</table>